@media (min-width: 769px) {
    .MissingPerson-container {
      max-width: 925px;
      min-height: 800px;
    }
    .Person-container-header h1 {
      font-size: 40px;
    }
  
    .Person-content p {
      font-size: 25px;
    }
  
    .missingPerson_footer p {
      font-size: 20px;
    }
  }
  